{% extends 'base.html' %}
{% load static %}
{% block title %}
    Challans
{% endblock %}

{% block content %}
    <style>
        .invoice {
            background: #fff;
            padding: 15px;
            margin: 10px auto;
            border: 1px solid #eee;
            max-width: 650px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 10px;
        }

        .invoice-header {
            margin-bottom: 10px;
        }

        .invoice-header .logo {
            max-width: 100px;
        }

        .invoice-header h2, .invoice-header h4 {
            margin: 0;
        }

        .invoice-header .details {
            text-align: right;
        }

        .invoice-header .details h2 {
            color: #B94A00;
        }

        .invoice-header .details .balance {
            color: #B94A00;
        }

        .invoice-details {
            margin-bottom: 10px;
        }

        .table thead th {
            background: #B94A00;
            color: #fff;
            border: none;
        }

        .table tbody td {
            border: none;
        }

        .total-row {
            font-weight: bold;
        }

        .terms {
            margin-top: 10px;
        }
    </style>
    <div class="container mt-5">
        <div class="accordion" id="challanAccordion">
            {% for challan in challans %}
                <div class="container mt-3">
                    <button id="download" class="btn btn-primary mb-2">Download PDF</button>
                    <div id="invoice" class="invoice">
                        <div class="invoice-header d-flex justify-content-between">
                            <div>
                                <img src="{{ tenant_details.tenant_logo.url }}" class="logo" alt="Logo">
                                <h4>{{ tenant_address.tenant.name }}</h4>
                                <p>{{ tenant_address.plot_no }}
                                    <br>{{ tenant_address.address_line_1 }}
                                    <br>{{ tenant_address.address_line_2 }}
                                    <br>{{ tenant_address.city }} - {{ tenant_address.pincode }}
                                </p>
                            </div>
                            <div class="details col-md-6 text-md-right text-left mt-md-0">
                                <div class="row">
                                    <div class="col">
                                        <p>Challan Number</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ challan.challan_no }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Challan Date</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ challan.challan_date }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Order Number</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ challan.order_no }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Order Date</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ challan.order_date }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Vehicle Number</p>
                                    </div>
                                    <div class="col">
                                        <p>{{ challan.vehicle_no }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-details row">
                            <div class="col-md-6">
                                <h5>Bill To</h5>
                                <span>
                                    {{ challan.billing_to }}
                                </span>
                            </div>
                            <div class="col-md-6 text-md-right">
                                <h5>Ship To</h5>
                                <span>
                                    {{ challan.shipping_to }}
                                </span>
                            </div>
                        </div>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Item & Description</th>
                                <th>Qty</th>
                                <th>Rate</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Brochure Design<br>Brochure design - Single sided (Color)</td>
                                <td>1.00</td>
                                <td>900.00</td>
                                <td>900.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Web Design packages (Simple)<br>10 Pages, Slider, Free Logo, Dynamic Website, Free
                                    Domain, Hosting Free for 1st year
                                </td>
                                <td>1.00</td>
                                <td>10,000.00</td>
                                <td>10,000.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Print Ad - Newspaper<br>A full-page ad, Nationwide Circulation (Colour)</td>
                                <td>1.00</td>
                                <td>7,500.00</td>
                                <td>7,500.00</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="terms">
                            <p><strong>Notes</strong><br>{{ challan.challan_note }}</p>
                        </div>
                    </div>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
                <script>
                    document.getElementById('download').addEventListener('click', () => {
                        const invoice = document.getElementById('invoice');
                        const opt = {
                            margin: 0.2,
                            filename: 'invoice.pdf',
                            image: {type: 'jpeg', quality: 0.98},
                            html2canvas: {scale: 2},
                            jsPDF: {unit: 'in', format: [8, 5.5], orientation: 'portrait'}
                        };
                        html2pdf().from(invoice).set(opt).save();
                    });
                </script>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
