{% extends 'base.html' %}
{% load static %}
{% block title %}
    Register Tenant
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
        <script>
            setTimeout(function () {
                bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
            }, 2500)
        </script>
    {% endif %}
    <form method="post" action="{% url 'Tenant:register_tenant' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center shadow">
                        {% if tenant_logo_url %}
                            <img class="rounded-circle img-fluid img-thumbnail rounded-circle mb-3 mt-4"
                                 src="{{ tenant_logo_url }}" width="160"
                                 height="160" alt="Logo">
                        {% else %}
                            <img class="rounded-circle img-fluid img-thumbnail rounded-circle mb-3 mt-4"
                                 src="{% static 'logo/logo.svg' %}" width="160"
                                 height="160" alt="Logo">
                        {% endif %}
                        <div class="mb-3">
                            <input type="file" name="tenant_logo" class="form-control"
                                   accept="image/jpeg, image/png, image/jpg, image/svg+xml" alt="tenant-logo">
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Tenant Name and GST</h6>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label d-block" for="tenant-name"><strong>Tenant Name</strong></label>
                            <input class="form-control" type="text" id="tenant_name" value="{{ tenant_info.name }}"
                                   name="tenant_name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label d-block" for="tenant-gst"><strong>Tenant GST</strong></label>
                            <input class="form-control" type="text" id="tenant_gst"
                                   value="{{ tenant_info.tenant_gst_number }}"
                                   name="tenant_gst_number" maxlength="15" minlength="15">
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary fw-bold m-0">Data Deletion Days</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small fw-bold">For Paper Reels<span id="paper-reels-value"
                                                                       class="float-end">{{ tenant_general_info.reels_delete_before_days }}</span></h4>
                        <label for="paper-reels"></label>
                        <input type="range" class="form-range" id="paper-reels" name="tenant_reels_delete_before_days" min="10"
                               max="100"
                               value="{{ tenant_general_info.reels_delete_before_days }}"
                               oninput="updateValue('paper-reels')">

                        <h4 class="small fw-bold">For Program<span id="program-value" class="float-end">{{ tenant_general_info.program_delete_before_days }}</span>
                        </h4>
                        <label for="program"></label>
                        <input type="range" class="form-range" id="program" name="tenant_program_delete_before_days" min="10" max="100"
                               value="{{ tenant_general_info.program_delete_before_days }}"
                               oninput="updateValue('program')">

                        <h4 class="small fw-bold">For Production<span id="production-value"
                                                                      class="float-end">{{ tenant_general_info.production_delete_before_days }}</span></h4>
                        <label for="production"></label>
                        <input type="range" class="form-range" id="production" name="tenant_production_delete_before_days" min="10" max="100"
                               value="{{ tenant_general_info.production_delete_before_days }}"
                               oninput="updateValue('production')">

                        <h4 class="small fw-bold">For Purchase Order<span id="purchase-order-value"
                                                                          class="float-end">{{ tenant_general_info.purchase_order_delete_before_days }}</span></h4>
                        <label for="purchase-order"></label>
                        <input type="range" class="form-range" id="purchase-order" name="tenant_purchase_order_delete_before_days" min="10"
                               max="100" value="{{ tenant_general_info.purchase_order_delete_before_days }}"
                               oninput="updateValue('purchase-order')">
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Premium Tenant&nbsp;<i class="fas fa-check-double"></i>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div class="form-check form-switch" style="width: 187.656px;">
                                        <input class="form-check-input" type="checkbox" id="formCheck-1"
                                               name="tenant_monthly_report"
                                               {% if tenant_general_info.monthly_report %}checked{% endif %}>
                                        <label class="form-check-label" for="formCheck-1"><strong>Month
                                            Report</strong></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="formCheck-3"
                                               name="tenant_database_copy"
                                               {% if tenant_general_info.database_copy %}checked{% endif %}>
                                        <label class="form-check-label" for="formCheck-3"><strong>Database
                                            Copy</strong></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p class="mb-0">Total Storage Used</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer">({{ tenant_general_info.total_storage }}MB
                                        of {{ tenant_general_info.total_storage }}MB)
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <div class="card shadow" style="margin: 0 0 16px;">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Tenant Contacts</p>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label class="form-label" for="tenant-email"><strong>Email Id</strong></label>
                                    <input class="form-control" id="tenant_email" type="email"
                                           value="{{ tenant_info.email }}" name="tenant_email"
                                           {% if tenant_info.email_verified %}readonly{% endif %} required>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="tenant-phone"><strong>Phone
                                                Number</strong></label>
                                            <input class="form-control" id="tenant_phone" type="tel"
                                                   name="tenant_phone" value="{{ tenant_info.phone }}"
                                                   {% if tenant_info.phone_verified %}checked{% endif %} required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-3" style="margin: 0;">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Owner Settings</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"
                                                   for="username"><strong>Username</strong></label>
                                            <input class="form-control" type="text" id="username"
                                                   value="{{ user.username }}" name="username">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="email"><strong>Email
                                                Address</strong></label>
                                            <input class="form-control" type="email" id="email" value="{{ user.email }}"
                                                   name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label"
                                                   for="first_name"><strong>First Name</strong></label>
                                            <input class="form-control" type="text" id="first_name"
                                                   value="{{ user.first_name }}" name="first_name">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="last_name"><strong>Last Name</strong></label>
                                            <input class="form-control" type="text" id="last_name"
                                                   value="{{ user.last_name }}" name="last_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary fw-bold m-0">Tenant Address</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="plot_no"><strong>Plot No</strong></label>
                                            <input class="form-control" type="text" id="plot_no"
                                                   value="{{ tenant_address.plot_no }}" name="tenant_plot_no">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label"
                                                   for="address_line_1"><strong>Address Line
                                                1</strong></label>
                                            <input class="form-control" type="text" id="address_line_1"
                                                   value="{{ tenant_address.address_line_1 }}"
                                                   name="tenant_address_line_1">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label"
                                                   for="address_line_2"><strong>Address Line
                                                2</strong></label>
                                            <input class="form-control" type="text" id="address_line_2"
                                                   value="{{ tenant_address.address_line_2 }}"
                                                   name="tenant_address_line_2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="city"><strong>City</strong></label>
                                            <input class="form-control" type="text" id="city"
                                                   value="{{ tenant_address.city }}" name="tenant_city">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="state"><strong>State</strong></label>
                                            <input class="form-control" type="text" id="state"
                                                   value="{{ tenant_address.state }}" name="tenant_state">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pincode"><strong>Pincode</strong></label>
                                            <input class="form-control" type="text" id="pincode"
                                                   value="{{ tenant_address.pincode }}" name="tenant_pincode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label"
                                                   for="country"><strong>Country</strong></label>
                                            <input class="form-control" type="text" id="country"
                                                   value="{{ tenant_address.country }}" name="tenant_country">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary fw-bold m-0">Confirm Tenant Information</h6>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <button class="btn btn-primary btn-sm" type="submit">Save Tenant Information</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function updateValue(id) {
            document.getElementById(id + '-value').textContent = document.getElementById(id).value;
        }
    </script>
{% endblock %}
