{% extends 'base.html' %}
{% block title %}
    Plans
{% endblock %}

{% block content %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Tenant Plans</h2>
                <p class="w-lg-50">
                    Choose the plans based on your needs and our features.
                </p>
            </div>
        </div>
        <div>
            <ul class="nav nav-pills d-flex justify-content-center" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" role="tab" data-bs-toggle="pill" href="#tab-1">
                        Yearly
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" role="tab" data-bs-toggle="pill" href="#tab-2">
                        Monthly
                    </a>
                </li>
            </ul>
            <div class="tab-content pt-5">
                <div class="tab-pane" role="tabpanel" id="tab-1">
                    <div class="row gy-4 row-cols-md-2">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span
                                        class="badge bg-primary text-uppercase mb-2">Standard</span>
                                    <h4 class="display-4 fw-bold card-title">&#8377;20000<span
                                            class="fs-3 fw-normal text-muted">/year</span>
                                    </h4>
                                </div>
                                <div class="card-footer d-flex flex-column flex-grow-1 justify-content-between">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Save Rs. 4000/- Annually</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Stock Management and History</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Bulk Reel Addition</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Basic Reel Filtering</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Products management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Production Line Handling</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Daily Program Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Purchase Order Management</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-primary d-block w-100" type="submit">Activate</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span
                                        class="badge bg-primary text-uppercase mb-2">Enterprise</span>
                                    <h4 class="display-4 fw-bold card-title">&#8377;35000<span
                                            class="fs-3 fw-normal text-muted">/year</span>
                                    </h4>
                                </div>
                                <div class="card-footer d-flex flex-column flex-grow-1 justify-content-between">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Save Rs. 13000/- Annually</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Stock Management and History</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Bulk Reel Addition</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Advanced Reel Filtering</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Reels Stocks and Order Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Products Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Products Filtering</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Production Line Handling</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Daily Program Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Daily Program Sharing</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Purchase Order Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Monthly Report</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Database Copy</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-primary d-block w-100" type="submit">Activate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-2">
                    <div class="row gy-4 row-cols-md-2">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span
                                        class="badge bg-primary text-uppercase mb-2">Standard</span>
                                    <h4 class="display-4 fw-bold card-title">&#8377;2000<span
                                            class="fs-3 fw-normal text-muted">/month</span></h4>
                                </div>
                                <div class="card-footer d-flex flex-column flex-grow-1 justify-content-between p-4">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Stock Management and History</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Bulk Reel Addition</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Basic Reel Filtering</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Products management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Production Line Handling</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Daily Program Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Purchase Order Management</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-primary d-block w-100" type="submit">Activate</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span
                                        class="badge bg-primary text-uppercase mb-2">Enterprise</span>
                                    <h4 class="display-4 fw-bold card-title">&#8377;4000<span
                                            class="fs-3 fw-normal text-muted">/month</span></h4>
                                </div>
                                <div class="card-footer d-flex flex-column flex-grow-1 justify-content-between p-4">
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Stock Management and History</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Bulk Reel Addition</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Advanced Reel Filtering</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Reels Stocks and Order Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Products Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Products Filtering</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Production Line Handling</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Daily Program Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Daily Program Sharing</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Purchase Order Management</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Monthly Report</span>
                                            </li>
                                            <li class="d-flex mb-2"><span
                                                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon me-2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                    fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg">
                                                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"></path>
                                                                </svg></span><span>Database Copy</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-primary d-block w-100" type="submit">Activate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
