<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inactive</title>
</head>
<body>
<div class="card text-center">
  <div class="card-header">
    INACTIVE TENANT
  </div>
  <div class="card-body">
    <h5 class="card-title">Please Pay the Pending Bill</h5>
    <p class="card-text">
        You are seeing this because you have the bil pending of either this 
        month or previous month, or you might have requested to be inactive.
    </p>
  </div>
  <div class="card-footer text-muted">
    Call on +91 9825957878 for more information
  </div>
</div>
</body>
</html>