<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>

<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            key: "{{ razorpay_key }}",
            amount: "{{ amount }}",
            currency: "INR",
            name: "{{ order_name }}",
            description: "{{ description }}",
            image: "{{ image }}",
            order_id: "{{ razorpay_order_id }}",
            callback_url: "{{ callback_url }}",
            redirect: true,
            prefill: {
                "name": "Janmay Bhatt",
                "email": "janmaybhatt1903@gmail.com",
                "contact": "9825957878"
            },
            notes: {
                "address": "Prerna Infotech Office"
            },
            theme: {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    </script>
</form>

</body>
</html>